/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* My CSS  */

html {
    --mainFont: white;
    --accent1: hsl(204,100%,33%);
    --accent2: #4ce0d7;
    --accent3: #004d80;
    font-family:'Lato',Arial, sans-serif; 
    font-size: 14px;
    color: var(--mainFont);
}

body {
    background-color: black;
}

.skip {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid red;
    text-decoration: none;
    position: absolute;
    top: -50px;
    transition: top 0.3s ease-in-out;
}

.skip:focus {
    top: -10px;
    outline: none;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Playfair", serif;
}

.stripe {
    position: relative;
}

.stripe::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1rem;
    right: 0;
    bottom: 17px; 
    background: var(--accent1);
    z-index: -1;
}


header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 20px 0;
}

header a {
    text-decoration: none;
    color: var(--mainFont);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    transition: transfrom 0.3s ease-in, background-color 0.3s ease-in;
    display: block;
}

header a:hover {
    background-color: var(--accent2);
    color: black;
    transform: scale(1.1);
}

header a:focus {
    border: 3px solid red;
    outline: none;  
}

.btn-contact {
    background-color: var(--accent1);
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    transition: transfrom 0.5s ease, background-color 0.5s ease;
    display: block;
}

.btn-contact:hover {
    background-color: var(--accent2);
    transform: scale(1.1);
}

.banner {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0 50px rgb(59, 56, 56);
}


.text {
    position: absolute;
    top: 50%;
    width: 100%;
    line-height: 3.5rem;
}

.text h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.text p {
    font-size: 0.8rem;
}

.text h2 {
    font-size: 2.8rem;
}

.colorshift {
    background: -webkit-linear-gradient(0deg, #004d80, #4ce0d7);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    animation: textScroll 3s infinite alternate;
} 

@keyframes textScroll {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 0;
    }
}

main h3 {
    font-size: 1.8rem;
    text-align: left;
}


.planets {
    margin: 30px 0;
}

.planets p {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0;
}

.btn-purple {
    background-color: var(--accent1);
    color: var(--mainFont);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    transition: transfrom 0.5s ease, background-color 0.5s ease;
    display: inline-block;
}

.btn-purple:visited {
    background-color: #74007C;
} 

.btn-purple:hover {
    background-color: var(--accent2);
    color: black;
    transform: scale(1.1);
}

.btn-purple:focus {
    border: 3px solid red;
    outline: none;  
}

footer {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* adding the tablet version  */

@media (min-width: 600px) and (max-width: 900px) {
    .wrapper {
        padding: 10px 0;
    }

    .banner img {
        width: 100%;
        height: auto;
    }
    
    .banner {
        text-align: left;
    }

    .text {
        width: auto;
        top: 50%;
        left: 5%;
    }

    .local {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .planets {
        width: 30%;
        margin: 20px 10px;
    }
}

/* adding the desktop version  */

@media (min-width: 900px) {

    .wrapper {
        padding: 30px;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    header ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 20px 0;
    }

    .banner {
        border-radius: 50px;
        box-shadow: 0 0 50px rgb(59, 56, 56);
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100%;
    }
    
    .banner img {
        display: block;
        width: 100%;
        height: auto;
        animation: zoom 15s infinite alternate;
    }
    
    @keyframes zoom {
        from {
            transform: scale(1.2);
        }
        to{
            transform: scale(1.5);
        }
    }
    
    .text {
        position: absolute;
        top: 60%;
        left: 5%;
        width: auto;
        z-index: 5;
        line-height: 3.5rem;
    }

    main {
        max-width: 1200px;
        margin: 40px 0;
    }

    .local {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        flex-wrap: nowrap;
    }

    .planets {
        width: 15%;
    }
}
